<footer class="d-flex flex-wrap justify-content-between py-5 my-5 footer-container">
    <hr>
    <div>
        <img src="resources/icon.svg" alt="Blogs logo"> <span class="cuprum-text">© <%= new Date().getFullYear()%> Blogging Beacon</span>
    </div>

    <ul class="nav col-md-4 list-unstyled cuprum-text">
    <li class="ms-3"><a class="text-body-secondary" href="https://github.com/itsAKDwivedi"><i class="bi fa-brands fa-github" width="24" height="24"><use xlink:href="https://github.com/itsAKDwivedi"></use></i></a></li>
    <li class="ms-3"><a class="text-body-secondary" href="https://www.linkedin.com/in/itsakdwivedi/"><i class="bi fa-brands fa-linkedin" width="24" height="24"><use xlink:href="https://www.linkedin.com/in/itsakdwivedi/"></use></i></a></li>
    <li class="ms-3"><a class="text-body-secondary" href="https://www.instagram.com/itsakdwivedi/"><i class="bi fa-brands fa-instagram" width="24" height="24"><use xlink:href="https://www.instagram.com/itsakdwivedi/"></use></i></a></li>
    </ul>
</footer>