<%- include("partials/header.ejs") %>

<div class="form-element">
<form action="/" method="post">
    <input class="form-element form-internal" type="text" name="blogAuthor" placeholder="Enter Your Name here" required>
    <input class="form-element form-internal" type="text" name="blogTitle" placeholder="Enter Blog Heading here" required> 
    <input class="form-element form-internal" type="text" name="blogIntro" placeholder="Enter Intro for Readers" required> 
    <textarea class="form-element form-internal" name="blogContent" cols="30" rows="10" placeholder="Enter Your Blog here...✍️" required></textarea>
    <button class="form-element form-internal form-button" type="submit" name="submit">Submit</button>
</form>
<a href="/"><button class="form-element form-internal form-button">Cancel</button></a>
</div>

<%- include("partials/footer.ejs") %>
